secretsmanagement/tsh-sm-logicapp-secretdeletealert-prd-01.logicapp.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {}
                }
            }
        },
        "actions": {
            "Compose": {
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "<style>\ntable {\n  border: 1px solid #FFFFFF;\n  background-color: #EEEEEE;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #FFFFFF;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #1C6EA4;\n  border-bottom: 2px solid #FFFFFF;\n}\ntable thead th {\n  font-size: 15px;\n  background: #C25608;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 2px solid #FFFFFF;\n}\ntable thread tr:nth-child(even) {\n  background: #F2B411;\n}\n</style>\n\nHi Team, <br/>\nBelow activities have been recorded from an AOBO account. Kindly review and perform necessary actions as required.<br/>\n<H2 style=\"color:darkorange;font-family:Arial\">Action Required: Review Activites </H2>\n<H3 style=\"color:darkorange;font-family:Arial\">Severity: Low </H3>\n<br/>\n@{body('Create_HTML_table')}\n<br/>\n<br/>\n<H4 style=\"background-color:darkorange;font-family:Arial\">Note: This is an automated email, please do not reply. If you have any questions, contact OC_Azure_CSP@optum.com.</H4>\nThanks & Regards,<br/><br/>\nTeam OCE"
            },
            "Create_HTML_table": {
                "runAfter": {
                    "Run_query_and_list_results": [
                        "Succeeded"
                    ]
                },
                "type": "Table",
                "inputs": {
                    "columns": [],
                    "format": "HTML",
                    "from": "@body('Run_query_and_list_results')?['value']"
                }
            },
            "For_each": {
                "foreach": "@body('Run_query_and_list_results')?['value']",
                "actions": {
                    "Send_an_email_(V2)": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                            "body": {
                                "Body": "<p>@{outputs('Compose')}</p>",
                                "Cc": "freddie.hernandez@ssspr.com; manuel.serrano@ssspr.com; Ismail.Khan2@ssspr.com; ocharpreet@ssspr.com; deepak.dixit@ssspr.com; harpreet.singh@optum.com; deepakd@optum.com",
                                "Importance": "Normal",
                                "Subject": "Secrets Management | Application :  @{items('For_each')?['Resource']} | Operation : Delete | Prod",
                                "To": "seginfo@ssspr.com;"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        }
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Run_query_and_list_results": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "body": "AzureDiagnostics\n| where Category == \"AuditEvent\"\nand ResourceProvider == \"MICROSOFT.KEYVAULT\"\nand OperationName == \"SecretDelete\"\nand ResultType == \"Success\"",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "tsh-secrets-mgmt-rg-prod-01",
                        "resourcename": "tsh-sm-law-prd-01",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "91ff1249-908a-4495-8cbe-10e10287181f",
                        "timerange": "Last hour"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuremonitorlogs": {
                    "id": "/subscriptions/91ff1249-908a-4495-8cbe-10e10287181f/providers/Microsoft.Web/locations/eastus/managedApis/azuremonitorlogs",
                    "connectionId": "/subscriptions/91ff1249-908a-4495-8cbe-10e10287181f/resourceGroups/tsh-secrets-mgmt-rg-prod-01/providers/Microsoft.Web/connections/azuremonitorlogs",
                    "connectionName": "azuremonitorlogs"
                },
                "office365": {
                    "id": "/subscriptions/91ff1249-908a-4495-8cbe-10e10287181f/providers/Microsoft.Web/locations/eastus/managedApis/office365",
                    "connectionId": "/subscriptions/91ff1249-908a-4495-8cbe-10e10287181f/resourceGroups/tsh-secrets-mgmt-rg-prod-01/providers/Microsoft.Web/connections/office365-1",
                    "connectionName": "office365-1"
                }
            }
        }
    }
}